body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

form {
  width: 300px;
  border: 3px solid rgb(81, 80, 76);
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
  font-size: 24px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 14px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgb(230, 210, 39);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #ffcc00;
}

body {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}

form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

input:focus {
  outline: none;
  border-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(255, 204, 0, 0.5);
}

input[type="submit"]:hover {
  background-color: rgb(3, 193, 12);
}

